<% @invitations.each do |inv| %>
  <h3>Event: <%= inv.event.name %></h3>
  <h3>Invited by: <%= inv.user.name %></h3>
  <%= link_to 'Accept Invitation', accept_inv_path(id: inv.id), method: :patch %>
<% end %>