<h1><%= @event.name %></h1>
<h2><%=  @event.description %></h2>
<% unless @event.attendees.blank? %>
  <% @event.attendees.each do |attendee| %>
    <h3><%= attendee.name %></h3>
  <% end %>
<% end %>