.Navbar {
  height: 25px;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

.Navbar #Current_user {
  float: right;
}

.Navbar #Logout_link {
  float: right;
  margin-right: 10px;
}

.Past_events {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.Future_events {
  display: inline-block;
}

