html, body {
  height: 100%;
  margin: 0px;
  font-family: 'Play', sans-serif;
}

a {
  text-decoration: none;
}

.Image_login {
  min-height: 100%;
  min-width: 1280px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.Image_home {
  min-height: 100%;
  min-width: 1280px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: -1;
}

.Image_dashboard {
  min-height: 100%;
  min-width: 1280px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}

.Home_title {
  font-size: 80px;
  color: white;
  background-color: #5f27cd;
  opacity: 0.95;
  margin-top: 0;
  margin-bottom: 0;
}

.Home_container {
  text-align: center;
}

.Home_window {
  display: inline-block;
  height: 100%;
  width: 45%;
  border: 5px solid #5f27cd;
  border-top: 0;
  border-radius: 1px;
  background-color: rgba(255,255,255,0.9);
}

.Home_description {
  text-align: left;
  font-size: 35px;
  margin: 2% 3% 2% 3%;
}

.Signup_container {
  text-align: center;
  width: 100%;
  margin-top: 1%;
}

.Signup_form {
  border: 0px solid black;
  border-radius: 15px;
  width: 30%;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  color: #5f27cd;
  background-color: white;
  padding: 100px;
  background-color: rgba(255,255,255,0.87);
}

.Signup_form input {
  font-size: 40px;
  border-radius: 5px;
}

.Submit_button {
  border: 3px solid #5f27cd;
  border-radius: 5px;
  font-weight: bold;
  color: #5f27cd;
  background: white;
}

.Alert {
  color: white;
  width: 100%;
  text-align: center;
  background: #5f27cd;
  font-size: 30px;
}

.Navbar {
  background-color: #576574;
  border-bottom: 1px solid black;
  font-size: 20px;
  padding: 5px;
  z-index: 10;
}

#Current_user {
  color: white;
}

.Navbar a, .Navbar p, {
  color: white; 
  border: 0px solid black;
  border-radius: 3px;
  padding: 5px 5px 7px 5px;
  transition: color 0.5s, background 0.5s;
}

.Navbar a:hover, .Navbar p:hover {
  color: black;
  background: #c8d6e5;
}

.Navbar #Current_user, .Navbar #Logout_link, .Navbar #Profile_link {
  float: right;
}

.Background {
  
}

.Title {
  text-align: center;
  background-color: #5f27cd;
  color: white;
  height: 10%;
  font-size: 55px;
  margin: 0px;
}

.Main_container {
  background-color: white;
  position: absolute;
  width: 60%;
  height: 80%;
  top: 10%;
  left: 20%;
  border: 5px solid #5f27cd;
  border-radius: 5px;
  box-shadow: 5px 5px 18px 1px; 
}

.Grid_container {
  margin-top: 0px;
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  overflow: hidden;
}

.Grid_item {
  text-align: center;
  background-color: white;
  text-decoration: none;
  font-size: 25px;
  border: 2px solid #5f27cd;
}

#Grid_item1 {
  background-color: #ff9f43;
}

#Grid_item2 {
  background-color: #ff6b6b;
}

#Grid_item3 {
  background-color: #10ac84;
}

#Grid_item4 {
  background-color: #2e86de;
}

.Grid_container h2 a {
  color: rgba(0,0,0,0.8); 
}

.Grid_container h2 {
  display: inline-block;
  overflow: hidden;
  transition: all 1s;
}

.Grid_container h2:hover {
  transform: scale(1.3);
}

.logo {
  display:block;
}

.logo svg {
  display: inline-block;
  transition: all 1s;
  fill: white;
  height: 20%; 
  width: 20%; 
}

.logo svg:hover {
  transform: scale(1.3);
}